* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.clock {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 20px solid #fff;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.hand {
  width: 50%;
  height: 6px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 48%;
  z-index: 9;
  transform-origin: 100%;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.01, 2.5, 0.1, 3.04);
}

.hour-hand {
  transform: rotateX(30deg);
}
